<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Book</title>
  </head>
  <body>
    <h1>Edit Book</h1>
    <form action="/edit/<%= book.id %>" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= book.title %>" required />
      <br />
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" value="<%= book.author %>" required />
      <br />
      <label for="published">Published Date:</label>
      <input type="date" id="published" name="published" value="<%= new Date(book.published).toISOString().split('T')[0] %>" required />
      <br />
      <button type="submit">Update Book</button>
    </form>
    <a href="/">Back to List</a>
  </body>
</html>
